.message {
    width: 400px;
    background-color: chartreuse;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


.avatar {
    width: 90%;
    height: 50%;
    border-radius: 50%;

}

.avaWrapper {
    display: flex;
    align-items: end;
    position: relative;
    height: 100%;
}

.avaWrapper:after {
    content: "";
    position: absolute;
    top: 85%;
    left: 85%;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at -40% 0%, rgba(204,0,0,0) 20px, black 15px);;
}

.letter {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
}

.content {
    flex-direction: column;
    width: 70%;

}


.title {
    font-size: 24px;
    color: rgb(118, 111, 152);

}

.text {
    font-size: 18px;
    color: antiquewhite;

}

.time {
    background-color: black;
    color: #20421f;
    display: flex;
    align-items: flex-end;

}