.default {

}
button:hover{
    background-color: whitesmoke;
    border: #282c34 solid 5px;
}
button:disabled {
    background-color: white;
    color: aqua;
}

button:disabled:hover{
    background-color: white;
    color: aqua;
    border: none;
}
.red {
    background: red;
}